<div style="margin-top: 10px">
  <table style="width: 800;">
    <tr>
      <th style="color: black">Title</th>
      <th style="color: black">Category</th>
      <th style="color: black">Schedule</th>
    </tr>
    <tr *ngFor="let d of movieList">
      <td style="color: black">{{ d.description }}</td>
      <td style="color: black">{{ d.category }}</td>
      <td style="color: black">{{ d.schedule }}</td>
    </tr>
  </table>
</div>
<div style="margin-top: 10px">
<input *ngIf="showLogin" type="submit" value="Log In" onclick="redirectLogin()">
<input *ngIf="showCreate" type="submit" value="Create" onclick="redirectCreate()">
</div>
