<form [formGroup]="formLogin" (ngSubmit)="save()">
<table width="100%">
    <tr>
      <td width="50%" valign="top">
        <fieldset>
          <legend>Access Page</legend>
          <table>
            <tr>
              <td>Login: </td>
              <td><input placeholder="Login" formControlName="login" maxlength="30" /></td>
            </tr>
            <tr>
              <td>Password: </td>
              <td><input placeholder="Password" formControlName="password" maxlength="30" /></td>
            </tr>
          </table>
        </fieldset>
      </td>
    </tr>
    <tr>
      <td>
        <input type="submit" value="Save"><input>
      </td>
    </tr>
  </table>
</form>

